# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual Environment
venv/
env/
ENV/
*.env
.env

# Django
*.sqlite3
db.sqlite3
*.pyc

# VSCode or IDEs
.vscode/
.idea/

# OS
.DS_Store

# Migrations (optional)
*/migrations/__pycache__/
*/migrations/*.pyc
